---
---

{% if site.theme == "jekyll-theme-minimalistic" or site.theme == "jekyll-theme-minimal" %}
@media screen and (min-width: 900px) {
    div.wrapper {
        width: 100%;
    }
    div.wrapper > header {
        width: 280px;
    }
    div.wrapper > section {
        width: calc(100% - 300px);
    }
}
a:hover, a:focus {
    font-weight: normal;
    text-decoration: underline;
}
h1 a:hover {
    font-weight: bold;
}
h1 a:focus {
    font-weight: bold;
}
{% endif %}

.emoji {
    vertical-align: middle;
}

.testcases-table .col:not(.col1):not(.col2) {
    text-align: center;
}

/* Color palette stuff */
body {
  background-color: #24273a;
  color: #cad3f5;
}

h1 {
  color: #cad3f5;
}

h2 {
  color: #f5a97f;
}

h3, h4, h5, h6 {
  color: #eed49f;
}

a {
  color: #8aadf4;
}

a:hover, a:focus {
  color: #91d7e3;
}

a small {
  color: #939ab7;
}

a:hover small {
  color: #939ab7;
}

blockquote {
  border-left: 1px solid #494d64;
}

code, pre {
  font-family: monospace;
  color: #cad3f5;
}

pre {
  background: #1e2030;
  border: 1px solid #494d64;
}

th, td {
  border-bottom: 1px solid #494d64;
}

dt {
  color: #b8c0e0;
}

th {
  color: #b8c0e0;
}

kbd {
  background-color: #24273a;
  border: 1px solid #363a4f;
  border-bottom-color: #494d64;
  box-shadow: inset 0 -1px 0 #494d64;
  color: #cad3f5;
}

ul.downloads {
  background: #1e2030;
  border: 1px solid #363a4f;
}

.downloads li {
  border-right: 1px solid #363a4f;
}

.downloads a {
  color: #b8c0e0;
}

.downloads a:hover, .downloads a:focus {
  color: #f5bde6;
}

.downloads ul a:active {
  background-color: #363a4f;
}

strong {
  color: #cad3f5;
}

.downloads a strong {
  color: #cad3f5;
}

hr {
  background: #494d64;
}

@media print, screen and (max-width: 960px) {
  section {
    border: 1px solid #494d64;
  }
}

@media print {
  body {
    color: #cad3f5;
  }
}

/* ============================================================ */
/* Catppuccin Macchiato Syntax Highlighting for Jekyll-Pygments */
/* Source: https://github.com/neuroconvergent/jekyll-pygments   */
/* ============================================================ */

/* Base and highlights */
.highlight .hll {
  background-color: #24273a;
}

.highlight .c {
  color: #939ab7;
  font-style: italic;
} /* Comment */

.highlight .err {
  color: #ed8796;
  background-color: #f5a97f;
} /* Error */

.highlight .k {
  color: #c6a0f6;
  font-weight: bold;
} /* Keyword */

.highlight .o {
  color: #91d7e3;
  font-weight: bold;
} /* Operator */

.highlight .cm {
  color: #939ab7;
  font-style: italic;
} /* Comment.Multiline */

.highlight .cp {
  color: #c6a0f6;
  font-weight: bold;
  font-style: italic;
} /* Comment.Preproc */

.highlight .c1 {
  color: #939ab7;
  font-style: italic;
} /* Comment.Single */

.highlight .cs {
  color: #c6a0f6;
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */

.highlight .gd {
  color: #ed8796;
  background-color: rgba(237, 135, 150, 0.15);
} /* Generic.Deleted */

.highlight .ge {
  color: #a5adcb;
  font-style: italic;
} /* Generic.Emph */

.highlight .gr {
  color: #ed8796;
} /* Generic.Error */

.highlight .gh {
  color: #a5adcb;
} /* Generic.Heading */

.highlight .gi {
  color: #a6da95;
  background-color: rgba(166, 218, 149, 0.15);
} /* Generic.Inserted */

.highlight .go {
  color: #b8c0e0;
} /* Generic.Output */

.highlight .gp {
  color: #a5adcb;
} /* Generic.Prompt */

.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */

.highlight .gu {
  color: #a5adcb;
} /* Generic.Subheading */

.highlight .gt {
  color: #ed8796;
} /* Generic.Traceback */

.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr {
  color: #c6a0f6;
  font-weight: bold;
} /* Keyword Constant/Declaration/Namespace/Pseudo/Reserved */

.highlight .kt {
  color: #eed49f;
  font-weight: bold;
} /* Keyword.Type */

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #f5a97f;
} /* Literal.Number */

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .s1 {
  color: #a6da95;
} /* Literal.String variants */

.highlight .sr {
  color: #8bd5ca;
} /* Literal.String.Regex */

.highlight .ss {
  color: #f5bde6;
} /* Literal.String.Symbol */

.highlight .na,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #8aadf4;
} /* Name/Variable variants */

.highlight .nb {
  color: #ed8796;
} /* Name.Builtin */

.highlight .nc {
  color: #eed49f;
  font-weight: bold;
} /* Name.Class */

.highlight .no {
  color: #a6da95;
} /* Name.Constant */

.highlight .nd {
  color: #c6a0f6;
  font-weight: bold;
} /* Name.Decorator */

.highlight .ni {
  color: #f5a97f;
} /* Name.Entity */

.highlight .ne,
.highlight .nf,
.highlight .nl {
  color: #ed8796;
  font-weight: bold;
} /* Name.Exception/Function/Label */

.highlight .nn {
  color: #a5adcb;
} /* Name.Namespace */

.highlight .nt {
  color: #8aadf4;
} /* Name.Tag */

.highlight .ow {
  color: #91d7e3;
  font-weight: bold;
} /* Operator.Word */

.highlight .w {
  color: #b8c0e0;
} /* Text.Whitespace */

.highlight .il {
  color: #f5a97f;
} /* Literal.Number.Integer.Long */

